/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : Oct 10, 2023, 2:06:04 PM
    Author     : coael
*/
$background-header: white;
$text-link:#0672cb;
$background-link:var(--bs-gray-100);

$border-radius-link:0;
.header-page{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    background: $background-header;
    z-index: 9;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    > * :not(.container){
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .top-header{
        display:flex;
        gap: 10px;
        padding: 5px;
        font-size: small;
        > li {
            display: flex;
            a{

                border-radius:$border-radius-link;
                padding:  3px 8px;
                background: $background-link;
                color: $text-link;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: smaller;
            }
        }
        &.menu-control{
            > li{
                flex:50%;
                &:first-child{
                    >a{

                    }
                }
                > a{
                    flex: 100%;
                    background: transparent;
                    svg{
                        fill:$background-link;
                    }
                }
            }
        }
    }


    .main-top-menu{
        max-height: 75vh;
        overflow: scroll;
    }

    .menu-list{
        display: none;
        transition: .4s;
        opacity: 0;
        height: 0;
        &.show-menu-list{
            height: 100%;
            transition: .4s;
            opacity: 1;
            display: initial;
        }
        > li{
            transition: .4s;
            
            .my-main-link{
                display: flex;
                > .my-text-link{

                    font-weight:600;
                    text-decoration: none;
                    color: $text-link;
                    background: $background-link;
                    flex:auto;
                    height: 100%;
                    border-radius: $border-radius-link;
                    padding: 13px !important;
                    transition: .6s;
                    &:hover,  &.active{
                        transition:.6s;
                        color: $background-link;
                        background: $text-link;
                        + *{
                            transition:.6s;
                            background: $text-link;
                            >img{
                                background: $text-link;
                            }
                        }
                    }
                }
                > .my-icon-link{
                    display: flex;
                    align-items: center;
                    padding: 5px!important;
                    color:$text-link;
                    text-decoration: none;
                    transition: .6s;
                    background: $background-link;
                    border-radius:  $border-radius-link;
                    > img{
                        transition: .6s;
                        border-radius: $border-radius-link;
                        background: $background-link;
                        padding: 4px;
                        &:hover{
                            transition: .6s;
                            background: $text-link;
                        }
                    }
                    > .my-link-img{
                        transition:.6s;
                    }
                }
            }
        }
        .btn-sub-menu{
            border-radius:$border-radius-link;
             background: $background-link;
            margin-left: auto;
            transition: .4s;
        }

        .sub-menu{
            margin-left: 15px;
            height: 0;
            overflow: hidden;
            transition: .5s;
            opacity: 0;
            transform: rotateZ(-45deg) translateX(100%);
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            > li{
                a{
                    border-radius: $border-radius-link;
                    padding: 7px 11px;
                    background: $background-link;
                    color: $text-link;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    transition: .8s;
                    &:hover{
                        transition: .8s;
                        background: $text-link ;
                        color:  $background-link;
                    }
                }
            }
            &.open-sub-menu{
                transition: .5s;
                opacity: 1;
                transform: rotateZ(0deg)translateX(0);
                height: auto;
            }


        }
    }
}

.main-header{
    margin-top: 108px;
    background: $background-header; 
    padding: 13px 0px;
     h1{
        text-shadow: 1px 1px white, black 1px 2px;
    }
}





.post-style-btn{
    border-radius: $border-radius-link;
    padding: 13px 24px;
    background: var(--bs-blue);
    color: white;
    text-decoration: none;

    justify-content: center;
    align-items: center;
    transition: 2s;
    &:hover{
         background: var(--bs-link-hover-color);
          color: yellow;
         transition: .6s;
         
    }
}

.post-style-2{
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2, p{
            text-shadow: 1px 1px white, black 1px 2px;
            box-shadow: black 1px 1px 1px, white 2px 2px 2px;
            border: 1px solid white;

            border-radius: $border-radius-link;
            padding: 20px;
            text-align: center;
        }
        p{
            text-shadow:none;
        }

    }
    .image{
        display: none;
    }

}

.post-style-1{
    padding: 0!important;
    margin:  0;
    max-width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    height: 80vh;
    background: grey;
    > .text, > .image{
        grid-column: 1/7;
        grid-row: 1 / 7;
        height: 80vh;

    }
    > .text{
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2, p{
            text-shadow: 1px 1px black, white 1px 2px;
            box-shadow: black 1px 1px 1px, white 2px 2px 2px;
            border: 1px solid white;
            background: rgba(22,22,22,.5);
            color: white;
            border-radius: $border-radius-link;
            padding: 20px;
            text-align: center;
        }
        p{
            text-shadow:none;
        }
    }
}
.post-style-0{
    padding: 120px 15px 20px!important;
    .image{
        border-radius: $border-radius-link;
        
        overflow: hidden;
    }
    h2{
        text-shadow: 1px 1px white, black 1px 2px;
    }
}

@media (min-width: 1024px) {
    .post-style-0{
        display: flex;
    }
    .post-style-0:nth-child(odd){
        figure{
            order: -1;
        }
    }
}




















.footer-list{
    list-style: none;
    padding: 0;
    > li{
        height: 48px;
        a{
            text-transform: capitalize;
            text-decoration: none;
            padding: 12px;

        }
    }
}

.rotate-btn{
    transition: 1s;

    transform: rotateZ(90deg) scale(1.2);

}
.menu-control{


}
.menu-with-sub{

    border-radius: $border-radius-link;
    padding: 3px 8px!important;
    background: $background-link;
    color: yellow;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px ;
    margin-bottom: 5px!important;
}
@media (min-width: 1024px) {
    .main-top-menu{
        display: flex;
        overflow: hidden!important;
        gap: 5px;
    }
    .my-menu-button{
        display: none!important;
    }

    .menu-list{
        height: 100%!important;
        transition: .4s;
        opacity: 1!important;
        display: flex!important;
        margin-left: auto!important;
        margin-right: auto!important;
        gap: 5px;
    }
    .sub-menu{
        position: absolute;
    }
    .page-header{

    }
}






.page-header{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 100%;
    height: 100vh;
    > .text-page-header{

        grid-column: 1/7;
        grid-row: 1 / 7;
        height: 100vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        z-index: 1;
    }
    >.image-page-header{
        grid-column: 3/7;
        grid-row: 1 / 7;
        height: 100vh;
    }
}


.main-btn{
    border-radius: 0px;
    padding: 13px 13px;
    border-color: #0672cb;
    color: #0672cb;
    &:hover{
        background-color: #0672cb;
        color: white;
    }
}
.body-header{
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    transition: 1s;
}
.main-menu{
    z-index: 2;

    > .control-btn{
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;



        > *{
            flex: 50%;
            display: flex;
            z-index: 1;
            align-items: center;
            >figure{
                margin: 0;
                >img{
                    transition: 1s;
                }
            }
            > svg{
                color: #0672cb;
                height: 64px;
                width: 64px;
                background: whitesmoke;
                border: 1px solid lightblue;
                border-radius: $border-radius-link;
                box-shadow: 0px 6px 8px -3px rgba(51,51,51,0.75);
            }
            &:nth-child(2){
                justify-content: end;
            }
        }
    }
    > ul{
        z-index: 0;
        width: 100%;
        height: 100%;
        padding-left: 0;
        gap: 5px;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;

        list-style: none;
        list-style-type: none;
        margin-left: 0;


        transition: 2s;
        overflow: hidden;

        margin-top: -100vh;
        margin-bottom: -100vh;

        box-shadow: 0px 6px 8px -3px rgba(51,51,51,0.75),
            0px -6px 8px -3px rgba(51, 51, 51, 0.75);

        > li{
            flex:100%;
            z-index: 1;
            margin-left: 100%;
            transition: .4s;
            background: transparent;
            border: solid 1px transparent;
            >a{
                text-transform: uppercase;
                width: 100%;
                height: 100%;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                transition: 1s;
                font-size: 1.2rem;
                color: #0672cb;
                padding: 15px 45px;
                font-weight: 800;
                > span{
                    margin-right: 10px;
                    > svg{
                        circle, g circle, line{
                            stroke:#0672cb;
                            color: #0672cb;
                        }
                        stroke:#0672cb;
                        width: 32px;
                        height: 32px;
                        * {
                            color: #0672cb;
                        }
                    }
                }
                &:hover, &.active{
                    transition: 1s;
                    background: #0672cb;
                    color: white;
                    span{
                        > svg{
                            circle, g circle, line{
                                stroke:white;
                            }
                            stroke:white;

                            * {
                                color: white;
                            }
                        }

                    }
                }
            }
        }


        &.open-main-menu{

            transition: 1s;
            margin-top: 0vh;
            border-radius: $border-radius-link;
            background: whitesmoke;
            > li{
                transition: 1s;
                background: whitesmoke;

            }
        }
    }
}
.post{
    display:flex;
    flex-direction: row;

    > .text, .figure{
        flex:1 0 50%;
        padding:20px;
    }
    > .text{

    }
    > .figure{
        &:hover{
            padding:0;
        }
    }
}


.post:nth-child(odd){

    figure{
        order: -1;
    }
}
@media (min-width: 1024px) {
    .scroled-menu{
        transition: 1s;
        background: whitesmoke;
        box-shadow: 0px 6px 8px -3px rgba(51, 51, 51, 0.75);
        #logo{

            height: 45px!important;
            transition: 1s;
        }
    }
    .main-menu{

        display: flex;
        .control-btn{
            > *{
                &:nth-child(2){
                    display: none;
                }
            }

        }

        >ul{
            margin:0 auto;

            height: auto;
            align-items: flex-end;
            box-shadow: none;
            width: auto;
            > li{

                width: auto;
                flex: auto;
                height: 100%;
                margin-left: 0;


            }
        }
    }
}

.footer{
    box-shadow: 0px -6px 8px -3px rgba(51, 51, 51, 0.75);
}